/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  --webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  --webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  --webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  --webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

@font-face {
  font-family: "Raleway";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Raleway/Raleway-Bold.ttf") format("truetype"), url("../fonts/Raleway/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway/Raleway-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto/roboto-regular-webfont.woff") format("woff"), url("../fonts/Roboto/roboto-regular-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto/roboto-medium-webfont.woff") format("woff"), url("../fonts/Roboto/roboto-medium-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto/roboto-bold-webfont.woff") format("woff"), url("../fonts/Roboto/roboto-bold-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype"), url("../fonts/Roboto/roboto-black-webfont.woff") format("woff"), url("../fonts/Roboto/roboto-black-webfont.woff2") format("woff2");
}
.functions__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
}

.footer-socials__text, .footer-form__subscription, .functions-set__text, .advantage-set__title {
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

.footer-list__link, .footer-list__address, .advantage-set__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
}

.team-overlay__identity {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.footer-form__button, .modal-form__button, .hero__button {
  font-family: "Roboto", sans-serif;
  padding: 10px 32px;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  cursor: pointer;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
h5,
ul,
ol,
li {
  padding: 0;
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  display: block;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

img {
  display: block;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  min-width: 100%;
  max-height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #ffffff;
}

body.modal-open {
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.hero__button {
  margin: 0 auto;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--main-timing-function);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

.modal-form__button {
  padding: 10px 55px;
  margin: 0 auto;
  transform: scaleX(1);
  border: 1px solid #2196f3;
  transition-property: transform, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__button:hover, .modal-form__button:focus {
  transform: scaleX(1.02);
  border-color: #ffffff;
}

.team-socials__icon,
.clients-list__icon,
.footer-socials__icon {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__container-overlay {
    width: 140px;
    height: 40px;
  }
  .header__contacts-container {
    width: inherit;
    height: inherit;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .header-nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .header-button__contacts {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .header-button__contacts-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contacts {
    display: inline-flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .header__contacts-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.advantage-set {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -15px;
}
.advantage-set__item {
  margin: 15px;
}
@media screen and (max-width: 1199px) {
  .advantage-set {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantage-set__item {
    flex-basis: calc((100% - 30 * 2) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantage-set__item {
    flex-basis: calc((100% - 30 * 4) / 4);
  }
}
.advantage-set__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.functions-set {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -15px;
}
.functions-set__item {
  flex-basis: calc((100% - 30 * 3) / 3);
  margin: 15px;
}

.team-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -15px;
}
.team-list__item {
  margin: 15px;
}
@media screen and (max-width: 1199px) {
  .team-list {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list__item {
    flex-basis: calc((100% - 30 * 2) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    flex-basis: calc((100% - 30 * 4) / 4);
  }
}

.team-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -5px;
}
.team-socials__item {
  flex-basis: calc((100% - 10 * 4) / 4);
  margin: 5px;
}
.team-socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: -15px;
}
.clients-list__item {
  margin: 15px;
}
.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .clients-list__item {
    flex-basis: calc((100% - 30 * 2) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list__item {
    flex-basis: calc((100% - 30 * 3) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    flex-basis: calc((100% - 30 * 6) / 6);
  }
}

.portfolio__buttons {
  margin: -4px;
}
.portfolio__buttons-item {
  flex-basis: calc((100% - 8 * 5) / 5);
  margin: 4px;
}
@media screen and (max-width: 639px) {
  .portfolio__buttons {
    display: inline-flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 640px) and (max-width: 1199px) {
  .portfolio__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.portfolio-set {
  flex-wrap: wrap;
  margin: -15px;
}
.portfolio-set__item {
  margin: 15px;
}
.portfolio-set__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.portfolio-set__link-wrapper {
  flex-grow: 1;
}
@media screen and (max-width: 767px) {
  .portfolio-set {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-set {
    display: inline-flex;
  }
  .portfolio-set__item {
    flex-basis: calc((100% - 30 * 2) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-set {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .portfolio-set__item {
    flex-basis: calc((100% - 30 * 3) / 3);
  }
}

@media screen and (max-width: 767px) {
  .footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer__container-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
  }
  .footer__container-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .footer__address {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .footer-socials__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-socials__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-socials__overlay {
    margin-left: 70px;
  }
}
.footer-socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -5px;
}
.footer-socials-list__item {
  flex-basis: calc((100% - 10 * 4) / 4);
  margin: 5px;
}
.footer-socials-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .footer-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer-form__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .footer-form__input {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
  }
}
.footer-form__overlay {
  display: flex;
  flex-direction: column;
}

.modal-form__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  border-bottom: 1px solid #ececec;
}

.header__logo {
  padding: 0;
  margin: 0;
}
.header__logo--dark {
  color: #000000;
}

@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-nav {
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header-nav {
    margin-left: 93px;
  }
}

@media screen and (min-width: 768px) {
  .header-nav__list-item:not(:last-child) {
    margin-right: 50px;
  }
}

.header-nav__list-link {
  color: #212121;
}
@media screen and (min-width: 768px) {
  .header-nav__list-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
.header-nav__list-link:hover, .header-nav__list-link:focus {
  color: #2196f3;
}

.header-nav__list-link,
.header__contacts-link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--main-timing-function);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__container-overlay {
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container-overlay {
    margin-left: 304px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contacts-item:first-child {
    padding: 0;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts-item:first-child {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .header__contacts-icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__contacts-icon {
    fill: currentColor;
    margin-right: 10px;
  }
  .header__contacts-icon--envelope {
    width: 14px;
    height: 10px;
  }
  .header__contacts-icon--smartphone {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts-icon--envelope {
    width: 16px;
    height: 12px;
  }
  .header__contacts-icon--smartphone {
    width: 10px;
    height: 16px;
  }
}

.header__contacts-link {
  color: #757575;
}
.header__contacts-link:hover, .header__contacts-link:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contacts-link {
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    font-weight: 500;
  }
}

@media screen and (max-width: 767px) {
  .header__contacts-link--envelope {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
  .header__contacts-link--smartphone {
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .header-nav__list-link--current {
    position: relative;
    color: #2196f3;
  }
  .header-nav__list-link--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    animation-name: ChangeScaleX;
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@keyframes ChangeScaleX {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  text-decoration: none;
  color: #2196f3;
}
@media screen and (max-width: 767px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.advantage {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .advantage {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage {
    padding-top: 94px;
    padding-bottom: 47px;
  }
}
@media screen and (max-width: 767px) {
  .advantage-set__item {
    max-width: 450px;
    width: 100%;
    height: 226px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantage-set__item {
    max-width: 354px;
    width: 100%;
    height: 251px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage-set__item {
    max-width: 270px;
    width: 100%;
    height: 251px;
  }
}
.advantage-set__container {
  margin-bottom: 30px;
  padding: 0px;
  background-color: #f5f4fa;
}
.advantage-set__title {
  margin-bottom: 10px;
  margin-top: 0;
}
@media screen and (max-width: 767px) {
  .advantage-set__title {
    text-align: center;
  }
  .advantage-set__container {
    max-width: 450px;
    width: 100%;
    height: 120px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantage-set__container {
    max-width: 354px;
    width: 100%;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage-set__container {
    max-width: 270px;
    width: 100%;
    height: 120px;
  }
}

.functions {
  padding-top: 47px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .functions {
    display: none;
  }
}
.functions__title {
  margin-bottom: 50px;
}

.functions-set__thumb {
  position: relative;
}
.functions-set__text {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
}

.team {
  background-color: #f5f4fa;
}
@media screen and (max-width: 1199px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .team__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    color: #212121;
  }
  .team-list {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: #212121;
  }
  .team-list {
    margin-top: 50px;
  }
  .team-list__item {
    max-width: 270px;
    width: 100%;
  }
  .team-list__photo {
    max-width: 270px;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .team-list__item {
    max-width: 450px;
    width: 100%;
  }
  .team-list__photo {
    max-width: 450px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list__item {
    max-width: 354px;
    width: 100%;
  }
  .team-list__photo {
    max-width: 354px;
    width: 100%;
  }
}
.team-list__item {
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-overlay__identity {
  color: #212121;
  margin-bottom: 10px;
}
.team-overlay__desc {
  font-weight: 400;
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
}

@media screen and (max-width: 1199px) {
  .team-overlay {
    padding-top: 30px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .team-overlay {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.team-socials {
  margin-top: 16px;
}
.team-socials__link {
  color: #afb1b8;
  background-color: #ffffff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-socials__link:hover, .team-socials__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.clients__title {
  font-weight: 700;
  text-align: center;
  color: #212121;
}
@media screen and (max-width: 1199px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .clients__title {
    font-size: 28px;
    line-height: 1.17;
  }
  .clients-list {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients__title {
    font-size: 36px;
    line-height: 1.16;
  }
  .clients-list {
    margin-top: 50px;
  }
}

.clients-list__link {
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  height: 92px;
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}
@media screen and (max-width: 767px) {
  .clients-list__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__link {
    width: 170px;
  }
}

@media screen and (max-width: 1199px) {
  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .portfolio__buttons {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .portfolio__buttons {
    margin-bottom: 50px;
  }
}
.portfolio__buttons-btn {
  display: block;
  padding: 6px 22px;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  cursor: pointer;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: transparent;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__buttons-btn:hover, .portfolio__buttons-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-set__link {
  background-color: #ffffff;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-set__link:hover, .portfolio-set__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-set__link-photo {
  max-height: 294px;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .portfolio-set__item {
    max-width: 450px;
    width: 100%;
    max-height: 404px;
    height: 100%;
  }
  .portfolio-set__link-photo {
    max-width: 450px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-set__item {
    max-width: 354px;
    width: 100%;
    max-height: 440px;
    height: 100%;
  }
  .portfolio-set__link-photo {
    max-width: 354px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-set__item {
    max-width: 370px;
    width: 100%;
    max-height: 404px;
    height: 100%;
  }
  .portfolio-set__link-photo {
    max-width: 370px;
    width: 100%;
  }
}

.portfolio-set__link-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-set__link-thumb-desc {
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 24px;
  padding-left: 24px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .portfolio-set__link-thumb-desc {
    padding-top: 77px;
    padding-bottom: 77px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-set__link-thumb-desc {
    padding-top: 49px;
    padding-bottom: 49px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-set__link-thumb-desc {
    padding-top: 63px;
    padding-bottom: 63px;
  }
}
.portfolio-set__link-wrapper {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
}
.portfolio-set__link-wrapper-title {
  margin-bottom: 4px;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-set__link-wrapper-text {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
  line-height: 1.87;
}
.portfolio-set__link:hover .portfolio-set__link-thumb-desc, .portfolio-set__link:focus .portfolio-set__link-thumb-desc {
  transform: translateY(0);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer-socials__text, .footer-form__subscription {
  color: #ffffff;
}
.footer__logo {
  margin-bottom: 20px;
}

.footer__logo {
  padding-top: 0;
  padding-bottom: 0;
}
.footer__logo--white {
  padding-top: 0;
  padding-bottom: 0;
  color: #ffffff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__logo--white:hover, .footer__logo--white:focus {
  color: #2196f3;
}
@media screen and (max-width: 1199px) {
  .footer__logo {
    font-size: 24px;
    line-height: 1.16px;
  }
}

.footer-list__item:not(:first-child) {
  margin-top: 9px;
}
.footer-list__address {
  letter-spacing: 0.03em;
  color: #ffffff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list__address:hover, .footer-list__address:focus {
  color: #2196f3;
}
.footer-list__link {
  color: rgba(255, 255, 250, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list__link:hover, .footer-list__link:focus {
  color: #2196f3;
}

.footer-socials-list {
  margin-top: 20px;
}

.footer-socials-list__link {
  width: 44px;
  height: 44px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-list__link:hover, .footer-socials-list__link:focus {
  background-color: #2196f3;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-form__overlay {
    min-width: 450px;
    width: 100%;
  }
  .footer-form__input {
    width: inherit;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: 93px;
  }
  .footer-form__overlay {
    min-width: 358px;
  }
  .footer-form__button {
    margin-left: 12px;
  }
}
.footer-form__label {
  display: block;
  margin-bottom: 20px;
}
.footer-form__input {
  padding: 15px 16px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.footer-form__input::placeholder {
  color: rgba(255, 255, 250, 0.6);
  font-size: 16px;
  line-height: 1.25;
}
.footer-form__button {
  transform: scale(1);
  padding: 10px 29px;
  letter-spacing: 0.06em;
  border: none;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__button:hover, .footer-form__button:focus {
  transform: scale(1.02);
}
.footer-form__icon {
  margin-left: 10px;
}

.hero__container {
  text-align: center;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1199px) {
  .hero__container {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (max-width: 480px) {
  .hero__container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../mainphotos/background/mobile/header-480.jpg");
  }
}
@media screen and (max-width: 480px) and (min-device-pixel-ratio: 2), screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 480px) and (-o-min-device-pixel-ratio: 2), screen and (max-width: 480px) and (min-resolution: 192dpi), screen and (max-width: 480px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../mainphotos/background/mobile/header-960.jpg");
  }
}
@media screen and (max-width: 480px) and (min-device-pixel-ratio: 3), screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 3), screen and (max-width: 480px) and (-o-min-device-pixel-ratio: 3), screen and (max-width: 480px) and (min-resolution: 288dpi), screen and (max-width: 480px) and (min-resolution: 3dppx) {
  .hero__container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../mainphotos/background/mobile/header-1440.jpg");
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .hero__container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../mainphotos/background/tablet/header-768.jpg");
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (max-width: 768px) and (-o-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../mainphotos/background/tablet/header-1536.jpg");
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 481px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 481px) and (max-width: 768px) and (-o-min-device-pixel-ratio: 3), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 3dppx) {
  .hero__container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../mainphotos/background/tablet/header-2304.jpg");
  }
}
@media screen and (min-width: 769px) {
  .hero__container {
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../mainphotos/background/desktop/header-1600.jpg");
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-o-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../mainphotos/background/desktop/header-3200.jpg");
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 3), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 769px) and (-o-min-device-pixel-ratio: 3), screen and (min-width: 769px) and (min-resolution: 288dpi), screen and (min-width: 769px) and (min-resolution: 3dppx) {
  .hero__container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../mainphotos/background/desktop/header-4800.jpg");
  }
}

.hero__title {
  display: block;
  margin: 0 auto;
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .hero__title {
    max-width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 695px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.61;
    max-width: 360px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .modal {
    max-width: 450px;
    width: 100%;
    max-height: 609px;
    height: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    width: 100%;
    max-height: 581px;
    height: 100%;
  }
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover, .modal__close-btn:focus {
  color: #2196f3;
}

.modal__close-icon {
  fill: currentColor;
}

.modal__heading {
  font-size: 20px;
  font-weight: 700;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}
@media screen and (max-width: 1199px) {
  .modal__heading {
    line-height: 1.5;
  }
}
@media screen and (min-width: 1200px) {
  .modal__heading {
    line-height: 1.15;
  }
}

.modal-form__overlay {
  margin-bottom: 30px;
}
.modal-form__field {
  width: 100%;
  margin-bottom: 10px;
}
.modal-form__wrapper {
  position: relative;
  width: inherit;
}

.modal-form__label, .modal-form__textarea-label {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-form__input:focus ~ .modal-form__icon {
  fill: #2196f3;
}
.modal-form__input {
  width: inherit;
  height: 40px;
  padding: 11px 12px 11px 42px;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.03em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:hover, .modal-form__input:focus {
  border-color: #2196f3;
}
.modal-form__icon {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.modal-form__textarea-input {
  padding: 12px 14px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
}
.modal-form__textarea-input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__checkbox-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.modal-form__checkbox-link {
  color: #2196f3;
  text-indent: 5px;
}
.modal-form__label-checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-weight: 400;
}
@media screen and (max-width: 1199px) {
  .modal-form__label-checkbox {
    font-size: 11.5px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .modal-form__label-checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}
.modal-form__label-checkbox::before {
  content: "";
  display: inline-block;
  margin-right: 8.4px;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__checkbox-agreement {
  position: absolute;
  display: none;
  top: 3px;
  left: 0;
  transition-property: display;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__checkbox-input:checked + .modal-form__label-checkbox .modal-form__checkbox-agreement {
  display: block;
  cursor: pointer;
}
.modal-form__checkbox-input:checked + .modal-form__label-checkbox::before {
  background-color: #2196f3;
  border-color: #2196f3;
}

@media screen and (min-width: 768px) {
  .header-button, .header-button__contacts, .header-button__socials {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .header {
    position: relative;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 60px;
    height: 100%;
  }
}

@media screen and (max-width: 767px) {
  .header__container-overlay {
    position: absolute;
    left: 0;
    bottom: -736px;
    z-index: 1;
    transform: translateY(calc(-100% - 5px));
    padding: 48px 40px;
    width: 100%;
    height: 796px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: var(--main-timing-function);
  }
  .header__container-overlay.is-open {
    transform: translateY(0);
  }
}

@media screen and (max-width: 767px) {
  .header-button {
    z-index: 2;
    display: inline-flex;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
  }
}

@media screen and (max-width: 767px) {
  .header-button .header-button__icon--close {
    display: none;
  }
  .header-button.is-open .header-button__icon--close {
    display: block;
  }
  .header-button.is-open .header-button__icon--open {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header-button {
    color: #212121;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--main-timing-function);
  }
  .header-button__icon {
    fill: currentColor;
  }
  .header-button:hover, .header-button:focus {
    color: #2196f3;
  }
}

@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header-button__contacts {
    margin-bottom: 302px;
  }
  .header-button__contacts-item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .header-button__contacts {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .header-button__contacts-link {
    color: #212121;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--main-timing-function);
  }
  .header-button__contacts-link:hover, .header-button__contacts-link:focus {
    color: #2196f3;
  }
  .header-button__contacts-link--current {
    color: #2196f3;
    animation-name: ChangeScaleX;
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (max-width: 767px) {
  .header-button__contacts-link {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 767px) {
  .header__contacts {
    display: inline-flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }
  .header__contacts-item:last-child {
    margin-bottom: 32px;
  }
  .header__contacts .header__contacts-link--smartphone {
    color: #2196f3;
  }
}

@media screen and (max-width: 767px) {
  .header-button__list {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
  }
  .header-button__list-item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .header-button__list-link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
    cursor: pointer;
  }
}

@media screen and (max-width: 767px) {
  .header-button__list-link--instagram, .header-button__list-link--twitter, .header-button__list-link--facebook {
    padding-right: 10px;
  }
  .header-button__list-link--twitter, .header-button__list-link--facebook, .header-button__list-link--linkedin {
    padding-left: 10px;
  }
}/*# sourceMappingURL=main.css.map */