// Для Флексів і їх складових

@mixin centeredFlex($display: flex, $justifyContent: center, $alignItems: center) {
  display: $display;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin flexBasis($indent: $indentFour, $column: $colFour, $item: $itemFour) {
  flex-basis: calc((100% - #{$indent} * #{$column}) / #{$item});
}

// Для кнопок

@mixin btn($padding: 10px 32px, $color: $colors, $bgcolor: $colors, $fWeight: $fontWeight) {
  display: block;
  padding: $padding;
  color: $color;
  background-color: $bgcolor;
  font-weight: $fWeight;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  cursor: pointer;
}
